<div class="container-fluid marginTopBottomContentContainer">
  <h2 class="titlePage">Sobre Nós</h2>
  <hr>
  <app-loading [condition]="isLoading"></app-loading>
  <div *ngIf="sobre">
    <div *ngFor="let sobre of sobre">
      <h3>{{sobre.titulo}}</h3>
      <img class="imagemSobre" [src]="sobre.imagem" [alt]="sobre['titulo']">
      <br>
      <div class="conteudoSobre">
        <p>{{sobre.descricao}}</p>
      </div>
    </div>
    <p>Para mais informações acesse nossa página de <a [routerLink]="['/contato']">Contato</a>.</p>
  </div>
  <div *ngIf="!isLoading && statusResponse == 200 && !sobre">
    <app-no-data [message]="messageApi"></app-no-data>
  </div>
  <div *ngIf="!isLoading && statusResponse != 200 && !sobre">
    <app-error></app-error>
  </div>
</div>