<div class="container-fluid marginTopBottomContentContainer">
  <h2 class="titlePage">Sobre Nós</h2>
  <hr>
  <app-loading [condition]="isLoading"></app-loading>
  <div *ngIf="sobre">
    <div *ngFor="let sobre of sobre | paginate: {itemsPerPage: limit, currentPage: p, totalItems: total}">
      <h3>{{sobre.titulo}}</h3>
      <img *ngIf="hasImage" class="imagemSobre" [src]="sobre['imagem']" [alt]="sobre.titulo">
      
      <div class="conteudoSobre">
        <p innerHTML="{{sobre.descricao}}"></p>
      </div>
    </div>
    <p>Para mais informações acesse nossa página de <a [routerLink]="['/contato']">Contato</a>.</p>
  </div>
  <div *ngIf="!isLoading && statusResponse == 200 && !sobre">
    <app-no-data [message]="messageApi"></app-no-data>
  </div>
  <div *ngIf="!isLoading && statusResponse != 200 && !sobre">
    <app-error></app-error>
  </div>
  <nav *ngIf="sobre">
    <ul class="pagination">
      <pagination-controls class="my-pagination" (pageChange)="getPage($event)" previousLabel="Anterior"
        nextLabel="Próximo">
      </pagination-controls>
    </ul>
  </nav>
</div>